<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <div th:remove="tag" th:replace="~{fragments/head :: head} "></div>
    <title>PERION - 非会員注文詳細</title>
    <script type="text/javascript" src="/js/pages/order.js" defer></script>
    <script type="text/javascript" src="/js/nonmember-orderdetail.js" defer></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="main__container section">
    <h1 class="main__title">お客様の注文商品</h1>
    <table class = "table__client table--2">
        <thead>
        <tr>
            <th class="cart__price">注文番号</th>
            <th class="cart__price">注文者名</th>
            <th class="cart__price">受取人名</th>
            <th class ="order__hp">受取人の連絡先</th>
            <th>受取人の住所</th>
            <th>注文状態</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="cart__price" th:text="${session.showNonMemberOrderDetailDTO.getNonMemberOrderNo()}"></td>
            <td class="cart__price" th:text="${session.showNonMemberOrderDetailDTO.getNonMemberName()}"></td>
            <td class="cart__price" th:text="${session.showNonMemberOrderDetailDTO.getReceiverName()}"></td>
            <td class="order__hp" th:text="${session.showNonMemberOrderDetailDTO.getOrderHp()}"></td>
            <td th:text="${session.showNonMemberOrderDetailDTO.getOrderAddressBasic()}"></td>
            <td th:text="${session.showNonMemberOrderDetailDTO.getOrderStatus() == 1 ? '注文完了' : 'キャンセル'}"></td>
        </tr>
        </tbody>
    </table>
    <table class="table__client table--2">
        <thead>
        <tr>
            <th class="cart__checkbox">番号</th>
            <th colspan="2" style="text-align: center">商品名</th>
            <th class="cart__price">商品価格</th>
            <th class="cart__quantity" style="text-align: center">数量</th>
        </tr>
        </thead>
        <tbody>
        <!--반복 구간(tr -> th:each)-->
        <div>
            <tr th:each="nonMemberOrderDetailDTO, Index : ${session.showNonMemberOrderDetailDTO.getNonMemberOrderDetailAddDTOList()}">
                <td class="cart__checkbox" th:text="${Index.index} + 1"></td>
                <td class="cart__imgbox">
                    <img class="cart__img" th:src="@{/images/itemImages/__${nonMemberOrderDetailDTO.getItemNo()}__/thumb/__${nonMemberOrderDetailDTO.getItemThumb()}__}">
                </td>
                <td>
                    <h4 th:text = "${nonMemberOrderDetailDTO.getItemName()}"></h4>
                    <span>사이즈:</span>
                    <span th:text="${nonMemberOrderDetailDTO.getItemSize()}">S</span>
                    <!--
                    <input th:id="'itemNo_' + ${cartIndex.index}" th:value ="${cartDTO.itemNo}" style="display:none;">
                    -->
                </td>
                <td class="cart__price" th:text="${nonMemberOrderDetailDTO.getItemPrice()} + 'ウォン'"></td>
                <td class="cart__quantity order__quantity" th:text="${nonMemberOrderDetailDTO.getItemQuantity()}"></td>
            </tr>

        </div>
        </tbody>
    </table>
    <div class="cart-order__btns">
        <button class="btn btn--black btn--mi btn--home">ホームへ</button>
        <div th:if = "${session.showNonMemberOrderDetailDTO.getOrderStatus() == 1}">
        <button class="btn btn--white btn--mi"
                th:nonMemberOrderNo = "${session.showNonMemberOrderDetailDTO.getNonMemberOrderNo()}"
                th:onclick="checkNonMemberOrderCancel(this.getAttribute('nonMemberOrderNo'))"
        >注文キャンセル</button>
        </div>
    </div>
</main>
</body>
</html>