<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/pages/user/enroll.css">
    <script>
        function closePopup() {
            window.close();
        }
    </script>

    <title>登録成功</title>
</head>
<body>


<div>
    <h1>登録完了</h1>
    <button class="btn--black btn--mi" onclick="closePopup();">閉める</button>
</div>

</body>
</html>