<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:remove="tag" th:replace="~{fragments/head :: head} "></div>
    <title>PERION - ID/PW 照会ページ</title>
    <script type="module" src="/js/pages/member-login.js" defer></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="main__container">
    <h1 class="main__title">ID照会成功</h1>
    <h4 th:text="'会員様のIDは ' + ${#strings.substring(memberIdDTO.memberId, 0, 3)} + '***' + ' です。'"></h4>
    <form action="/members/login" method="get">
        <button type="submit" class="btn btn--black">ログインページ</button>
    </form>
    <form action="/members/info" method="get">
        <button type="submit" class="btn btn--white">パスワード照会</button>
    </form>

</main>
</body>
</html>