<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:remove="tag" th:replace="~{fragments/head :: head} "></div>
    <title>PERION - パスワード修正完了</title>
    <meta name="description" content="20대 선호도 1위 쇼핑몰! 지금 로그인하면 다양한 이벤트 정보를 확인할 수 있습니다.">
    <script type="text/javascript" src="/js/pages/member-add-success.js" defer></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="main__container">
    <img class="main__logo" src="/images/spartan-helmet.svg">
    <h4>パスワードが更新されました!</h4>
    <h4>ログインボターンをクリックし、ログインしてください。</h4>
    <button type="button" class="btn btn--white btn--home btn--home-member-add-success">ホーム</button>
    <button type="button" class="btn btn--black btn--login">ログイン</button>
</main>
</body>
</html>