<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:remove="tag" th:replace="~{fragments/head :: head} "></div>
    <title>ERION - ID/PW 照会ページ</title>
    <meta name="description" content="20대 선호도 1위 쇼핑몰! 지금 로그인하면 다양한 이벤트 정보를 확인할 수 있습니다.">
    <script type="module" src="/js/pages/member-login.js" defer></script>
    <script src="/js/pages/find-pw-validation.js"></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="main__container">
    <h1 class="main__title">パスワード再設定</h1>
    <form id="passwordForm" action="/members/info/pw/update" method="post">
        <input type="hidden" name="memberId" th:value="${memberPwDTO.memberId}">
        <label class="label" for="memberPw">
            <h5 class="label__title">新しいパスワード*</h5>
            <input id="memberPw" name="memberPw" class="input" type="password" placeholder="空白以外の全ての文字(8~20字)" oninput="validatePassword()"/>
            <div class="label__error-container">
                <h6 class="label__error" id="passwordError"></h6>
            </div>
        </label>
        <label class="label" for="memberPwCheck">
            <h5 class="label__title">パスワード確認*</h5>
            <input id="memberPwCheck" name="memberPwCheck" class="input" type="password" placeholder="空白以外の全ての文字(8~20字)" oninput="validatePassword()"/>
            <div class="label__error-container">
                <h6 class="label__error" id="confirmPasswordError"></h6>
            </div>
        </label>
        <button type="submit" class="btn btn--black" id="submitButton" disabled>パスワード再設定</button>
    </form>
</main>
</body>
</html>