<aside class="side-bar" th:fragment="admin-sidebar">
  <div class="margin"></div>
  <ul>
    <li>
      <a href="/sales">売上</a>
    </li>
    <li>
      <a href="/members/admin">会員一覧</a>
    </li>
    <li>
      <a href="/items/admin">商品一覧</a>
    </li>
    <li>
      <a href="/items/admin/add">商品登録</a>
    </li>
    <li>
      <a href="/orders/admin/members">会員注文一覧</a>
    </li>
    <li>
      <a href="/orders/admin/non-members">非会員注文一覧</a>
    </li>
    <li>
      <a href="/notice/admin">お知らせ</a>
    </li>
    <li>
      <a href="/qna">Q&A</a>
    </li>
    <li>
      <a href="/reviews">レビュー</a>
    </li>
  </ul>
  <div class="side-bar__icon">
    <img src="/images/spartan-helmet-white.svg" alt="실패" />
  </div>
</aside>
