<footer th:fragment="footer">
    <div class="footer__infos-logo">
        <div class="footer__info">
            <div>
                <h4>会社情報</h4>
                <span>社名: (株)PERION</span>
                <span>取締役: Warrior</span>
                <span>電話番号: 02-0000-0000</span>
                <span>事業者登録番号: 111-11111111-111</span>
                <span>携帯番号: 111-11-11111</span>
                <span>メール: perionwar@riors.co.kr</span>
            </div>
            <div>
                <h4>口座情報</h4>
                <span>00銀行 (000 -000- 0000)</span>
                <span>名義人: 宮本武蔵</span>
            </div>
            <div>
                <h4>ショップ</h4>
                <a href="/items/all">All</a>
                <a href="/items/outer">Outer</a>
                <a href="/items/inner">Inner</a>
                <a href="/items/pants">Pants</a>
            </div>
        </div>
        <div class="footer__logo">
            <img class="footer__logo-img" src="/images/spartan-helmet.svg" alt="logo" />
            <h2 class="footer__logo-title">PERION</h2>
        </div>
    </div>
    <div class="footer__copyright-sns">
        <span>copyrightⓒ 2023.Perion.All Rights Reserved</span>
        <div>
            <img class="footer__sns" src="/images/icons/instagram.png" alt="" />
            <img class="footer__sns" src="/images/icons/line.png" alt="" />
            <img class="footer__sns" src="/images/icons/facebook.png" alt="" />
            <img class="footer__sns" src="/images/icons/kakaotalk.png" alt="" />
        </div>
    </div>
</footer>