<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:remove="tag" th:replace="~{fragments/head :: head} "></div>
    <!--CSS-->
    <link rel="stylesheet" href="/css/pages/user/error.css">
    <script type="text/javascript" src="/js/pages/member-add-success.js" defer></script>
</head>
<body class="errorpage__body">
<header th:if="${session.loginMember != null}" th:replace="~{fragments/login-header :: header}">
</header>
<header th:unless="${session.loginMember == null}" th:replace="~{fragments/header :: header}">
</header>
<main class="main__container">
    <img class="main__logo" src="/images/spartan-helmet.svg">
    <h1>しばらくしてからもう一度お試しください!</h1>
    <h3>サーバーから問題が生じました。大変申し訳ございません。</h3>
    <button type="button" class="btn btn--black btn--home btn--error">ホームへ</button>
</main>
</body>
</html>