header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    background-color: var(--color-primary);
    box-shadow: rgba(0, 0, 0,0.24) 0 3px 8px;
    z-index:10;
}
.header__container{
    display: flex;
    width: 1060px;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-size: 1.5rem;
    font-weight: bold;
}
.header__nav{
    font-size: 0.75rem;
}
.header__lists{
    display:flex;
    font-weight:600;
    gap:1.75rem;
    color: var(--color-primary);
}
.header__list{
    padding: 1.25rem 0;
}

.nav-shop__menus, .nav-search__menus{
    display: none;
}

.nav-shop__menus, .nav-search__menus {
    position: absolute;
    top: 100%;
}

.nav-shop__menus{
    width: 4rem;
    background-color: var(--color-primary);
    color: var(--color-text);
}

.nav-shop__menu{
    padding: 0.3rem 0.1rem;
    transition: all 100ms ease-in;
}

.nav-shop__menu--title{
    color: inherit;
    padding-left: 0.3rem;
}

.header__search{
    padding-inline-start: 0.3rem;
    transition: all 200ms ease-in;
}

.header__search:focus{
    background-color: var(--color-accent);
    color: var(--color-primary);
}

.header__search::placeholder:focus{
    opacity: 0;
}

.active{
    display: block;
}

.header__toggle{
    display: none;
}

@media screen and (min-width: 768px){
    .nav-shop__menu:hover{
        background-color: var(--color-text);
        color: var(--color-accent);
    }
    .header__lists .header__nav-shop:hover .nav-shop__menus{
        display: block;
    }
}

@media screen and (max-width: 1140px) {
    .header__container{
        width:600px;
    }
}

@media screen and (max-width: 768px) {
    header{
        flex-direction: column;
        padding: 1.75rem 0;
    }
    .header__logo{
        position: absolute;
        left: 2rem;
        top:0.75rem;
    }
    .header__nav{
        width: 100%;
        display: none;
    }
    .header__container{
        flex-direction: column;
    }
   .header__lists{
       display: flex;
       padding-top:2rem;
       flex-direction: column;
       align-items: center;
       text-align: center;
       gap:0;
       font-size: 1rem;
   }
   .header__list{
       padding: 0.5rem 0
   }
   .header__nav-shop{
       text-align: center;
   }
   .nav-shop__menus{
       position: static;
       padding-top: 0.5rem;
       width: 100%;
       display: none;
   }
    .nav-search__menus{
        padding: 0.5rem 0;
        position: static;
        display: none;
    }
    .header__toggle{
        position: absolute;
        display: inline-block;
        width: 2rem;
        right: 2rem;
        top:0.75rem;
        cursor: pointer;
    }
}